{:source-paths
 ["src"
  "test"]

 :dev-http {8000 "target/js/test"}

 :dependencies
 [[lambdaisland/kaocha-cljs2 "0.2.72"]]

 :builds
 {:test
  {:target :browser-test
   :test-dir "target/js/test"}

  :test-kaocha
  {:target :browser-test
   :test-dir "target/js/test-kaocha"
   :runner-ns kaocha.cljs2.shadow-runner
   :ns-regexp ".*-test$"
   :devtools {:http-port 8001
              :http-root "target/js/test-kaocha"
              :preloads [lambdaisland.chui.remote]}}
  
  :test-ci
  {:target :node-test
   :output-to "target/js/node-tests.js"
   ;; Output as junit xml
   :main monkey.shadow.junit.runner/run-tests}}}
